<video id="bgVideo" autoplay loop muted playsinline>
    <source src="https://c5015.biukop.com.au/bokeh2.mp4" type="video/mp4">
</video>


<div class="container">
  <div class="screen">
    <div class="screen__content center">
      <form class="k-form" [formGroup]="registerForm">
        <fieldset class="k-form-fieldset">
          <kendo-formfield>
            <kendo-label [for]="nickName" text="Your Name (optional)" ></kendo-label>
            <input
              formControlName="nickName"
              kendoTextBox
              #nickName
              placeholder="John doe"
            />
            <kendo-formerror>Error: name is too long (less than 100 char)</kendo-formerror>
          </kendo-formfield>

          <kendo-formfield>
            <kendo-label [for]="email" text="Email"></kendo-label>
            <input formControlName="email" kendoTextBox #email required
                   email="true" placeholder="user@email.com"
                   (blur)="emailInputBlur($event)"
            />

            <kendo-formhint>{{hint.email}}</kendo-formhint>
            <kendo-formerror>Error: Not valid email format</kendo-formerror>
          </kendo-formfield>

          <kendo-formfield>
            <kendo-label [for]="pin" text="Verification Code"></kendo-label>
            <input formControlName="pin" kendoTextBox #pin required placeholder="0000"/>

            <kendo-formhint>{{hint.pin}}</kendo-formhint>
            <kendo-formerror>Error: Verification Code is required</kendo-formerror>
          </kendo-formfield>


          <div class="k-form-buttons">
            <button class="join" *ngIf="otpSent" kendoButton themeColor="primary" (click)="onLoginClick()">
              Join Meeting
            </button>
            <button class="join" *ngIf="!otpSent"kendoButton themeColor="primary" (click)="onOtpClick()">
              Get Verification Code
            </button>

          </div>
        </fieldset>
      </form>
    </div>
    <div class="logo"></div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>

