<div class="cc" id="jaas_container">
</div>


<kendo-label class="k-form" text="Message">
  <kendo-textbox
    [style.width.px]="300"
    placeholder="Type your message here"
    [clearButton]="true"
  >
    <ng-template kendoTextBoxPrefixTemplate>
      <button kendoButton fillMode="clear" icon="image"></button>
      <button kendoButton fillMode="clear" icon="calendar"></button>
      <kendo-textbox-separator></kendo-textbox-separator>
    </ng-template>
    <ng-template kendoTextBoxSuffixTemplate>
      <kendo-textbox-separator></kendo-textbox-separator>
      <button kendoButton fillMode="clear" class="send-button" (click)="onClick($event)">Send</button>
    </ng-template>
  </kendo-textbox>
</kendo-label>


<kendo-icon name="trash"></kendo-icon>
